.about-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 32px;
}
.about-header .about-content {
    flex-basis: 555px;
    margin-right: 30px;
    font-size: 14px;
    font-weight: normal;
}

.about-header h1 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 16px;
}

.tannaz-image img {
    max-width: 160px;
    z-index: 200;
    visibility: visible;
    max-height: 32px;
    display: block;
}

.tannaz-real {
    margin-top: 32px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 32px;
}

.experience {
    margin-right: 30px;
}
.content h2 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 16px;
}
.content section {
    margin-bottom: 40px;
}
.content p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-bottom: 8px;
}
.content p:last-of-type {
    color: #a6a5a8;
    letter-spacing: 0.14px;
}
.content h3 {
    font-size: 14px;
    color: #0059ff;
    font-weight: normal;
    margin-bottom: 8px;
}

@media only screen and (min-width: 945px) {
    .about-header {
        justify-content: flex-start;
        margin: 0;
    }

    .content {
        margin-left: 0;
    }

    .tannaz-real {
        margin-top: 0;
    }

    .experience {
        flex-basis: 555px;
    }
}





