
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

header h1 {
    font-weight: 800;
}
header p {
    font-size: 18px;
}

.tannaz-image {
    flex-basis: 160px;
    margin-top: 0;
}

.tannaz-image img {
    max-width: 160px;
    z-index: 200;
}

header > div {
    margin-top: 32px;
    flex-basis: 600px;
}

.work-sample {
    margin: 32px;
    background-color: rgba(237,242,249, 0.4);
    border-radius: 16px;
}
.work-sample img {
    max-width: 100%;
}


.work-sample .image-box {
    position: relative;
}

.work-sample .hidden img{
    visibility: hidden;
    margin-right: 30px;
    vertical-align: middle;

}

.work-sample .link {
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.work-sample .image-box > img {
    position: absolute;
    top: 0;
    left: 0;
    animation-iteration-count: infinite;
}

.work-sample img.image-colored {
    visibility: hidden;
    animation: .3s fadeOut;
}
.work-sample:hover img.image-colored  {
    visibility: visible;
    animation: .3s fadeIn;
}
.work-sample:hover img.image-gray  {
    animation: .3s fadeOut;
}



.work-sample h2 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 16px;
}

.read-more {
    display: flex;
    align-items: center;
    height: 20px;
    padding-right: 8px;
    font-weight: 500;
    color: #0e5cf7;
}

.work-sample a {
    text-decoration: none;
    color: inherit;
}

.sample-title {
    flex-basis: 293px;
}

.work-sample .arrow {
    margin-left: 8px;
}
.work-sample .arrow div {
    width: 2px;
    height: 6px;
    background-color: #0e5cf7;
}

.work-sample .arrow div{
    transition: all ease 0.2s;
}

.work-sample:hover .arrow div:first-child{
    transform: rotate(-45deg) translateY(2px);
}
.work-sample:hover .arrow div:last-child{
    transform: rotate(45deg) translateY(-2px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 945px) {
    .sample-title {
        margin-top: 0;
    }
    header {
        justify-content: flex-start;
        margin: 0;
    }
    .work-sample {
        justify-content: flex-start;
        margin: 32px 0 0 0;
    }
    .work-sample h2 {
        margin-top: 0
    }

    .tannaz-image {
        margin-right: 36px;
    }
}


