*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #161d2c;
}

.menu .active a{
    color: #161d2c;
}
.menu li:hover a {
    color: #0e5cf7;
}


.main, .nav-content {
    max-width: 945px;
    margin: 0 auto;
}

nav {
    background-color: white;
    padding-right: 32px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    height: 69px;
    display: flex;
    align-items: center;
}

nav img {
    max-width: 160px;
    margin-left: 32px;
    max-height: 32px;
    animation-fill-mode: forwards;
}

#tannaz-nav {
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.menu {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu li {
    margin-left: 24px;
    list-style-type: none;
    color: #a8afb8;
}

.menu li a {
    text-decoration: none;
    color: #a8afb8;
}

.main {
    margin-top: 32px;
}

footer {
    margin-top: 48px;
    background-color: #161d2c;
    color: white;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
}

.footer-content {
    flex: 1;
    max-width: 945px;
    margin: 0 auto;
    height: 100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.top-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 40px;
}

.top-link .link {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.top-link .arrow {
    display: flex;
    margin-bottom: 18px;
}

.top-link .arrow div {
    width: 8px;
    height: 2px;
    background-color: white;
}

.top-link .arrow div {
    transition: all ease 0.2s;
}


.top-link:hover .arrow div:first-child {
    transform: rotate(-45deg) translateX(2.666px);
}

.top-link:hover .arrow div:last-child {
    transform: rotate(45deg) translateX(-2.666px);
}

.padding {
    flex: 1
}

.social {
    justify-self: flex-end;
    padding-right: 32px;
}

.social img {
    margin-left: 24px;
}

.social img:hover {
    opacity: 0.6;
}

.preload * {
    animation: initial !important;
}

@media only screen and (min-width: 945px) {
    .main {
        margin-top: 25px;
    }

    nav {
        padding-right: 0;
    }

    .social {
        padding-right: 0;
    }

    nav img {
        max-width: 160px;
        margin-left: 0;
        max-height: 32px;
    }

    footer {
        padding-right: 22px;
        padding-left: 62px;
    }
}


